@import "tailwindcss";

@font-face {
  font-family: "Netflix Sans";
  src: url("src/assets/fonts/NetflixSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("src/assets/fonts/NetflixSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Netflix Sans", sans-serif, system-ui;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #141414;
    color: white;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
